::-webkit-scrollbar {
    width: 5px;
 }
 
 ::-webkit-scrollbar-track {
    background: rgba(255, 0, 0, 0);
    /* color of the tracking area */
 }
 
 ::-webkit-scrollbar-thumb {
    background-color:#bc3c3b;
    /* color of the scroll thumb */
    /* roundness of the scroll thumb */
    /* creates padding around scroll thumb */
 }
 