.contatoContentDiv {
    padding: 5vh 0;
    height: calc(100% - 10vh);

    display: flex;
    justify-content: center;
    gap: 3vw;

    .informationsDiv {
        display: flex;
        flex-direction: column;
        justify-content: center;

        gap: 10vh;

        .contatosDiv {
            display: flex;
            flex-direction: column;
            gap: 20px;

            div {
                h2 {
                    font-size: 2em;
                    font-weight: 400;
                    font-family: 'Libre Baskerville', 'dayrom', serif;
                    color: #bc3c3b;

                    text-align: center;
                }
            }

            ul {
                display: flex;
                flex-direction: column;
                gap: 30px;

                li {
                    display: flex;
                    list-style-type: none;
                    align-items: center;
                    gap: 15px;

                    img {
                        width: 25px;
                    }

                    p {
                        font-size: 1.2rem;
                        font-weight: 400;
                        font-family: 'Work Sans', sans-serif;
                    }

                    a {
                        cursor: pointer;

                        font-size: 1.2rem;
                        font-weight: 400;
                        font-family: 'Work Sans', sans-serif;
                        color: black;

                        &:hover {
                            transition: all(0.2s);
                            color: #bc3c3b;
                        }
                    }
                }
            }
        }

        .deliveryDiv {
            display: flex;
            flex-direction: column;
            gap: 20px;

            div {
                h2 {
                    font-size: 2em;
                    font-weight: 400;
                    font-family: 'Libre Baskerville', 'dayrom', serif;
                    color: #bc3c3b;

                    text-align: center;
                }
            }

            ul {
                display: flex;
                flex-direction: column;
                gap: 30px;

                li {
                    display: flex;
                    list-style-type: none;
                    align-items: center;
                    gap: 15px;

                    img {
                        width: 30px;
                    }

                    a {
                        cursor: pointer;

                        font-size: 1.2rem;
                        font-weight: 400;
                        font-family: 'Work Sans', sans-serif;
                        color: black;

                        &:hover {
                            transition: all(0.2s);
                            color: #bc3c3b;
                        }
                    }
                }
            }
        }
    }

    iframe {
        border: 0;
        width: 50%;
    }
}


@media (max-width: 1024px) {
    .contatoContentDiv {
        gap: 8vh;
        flex-direction: column;
        align-items: center;

        .informationsDiv {
            gap: 5vh;

            .contatosDiv {
                div {
                    h2 {
                        font-size: 2em;
                    }
                }

                ul {
                    li {

                        img {
                            width: 20px;
                        }

                        a {
                            font-size: 1.1rem;
                        }

                        p {
                            font-size: 1.1rem;
                        }
                    }
                }
            }

            .deliveryDiv {
                div {
                    h2 {
                        font-size: 2rem;
                    }
                }

                ul {
                    li {
                        img {
                            width: 20px;
                        }

                        a {
                            font-size: 1.1rem;
                        }
                    }
                }
            }
        }

        iframe {
            height: 60vh;
            width: 100%;
        }
    }


}
@media (max-width: 768px) {
    .contatoContentDiv {
        .informationsDiv {
            .contatosDiv {
                div {
                    h2 {
                        font-size: 1.8em;
                    }
                }

                ul {
                    li {

                        a {
                            font-size: 1rem;
                        }

                        p {
                            font-size: 1rem;
                        }
                    }
                }
            }

            .deliveryDiv {
                div {
                    h2 {
                        font-size: 1.8rem;
                    }
                }

                ul {
                    li {
                        a {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 425px) {
    .contatoContentDiv {
        .informationsDiv {
            .contatosDiv {
                div {
                    h2 {
                        font-size: 1.4rem;
                    }
                }

                ul {
                    li {

                        a {
                            font-size: 0.8rem;
                        }

                        p {
                            font-size: 0.8rem;
                        }
                    }
                }
            }

            .deliveryDiv {
                div {
                    h2 {
                        font-size: 1.4rem;
                    }
                }

                ul {
                    li {
                        a {
                            font-size: 0.8rem;
                        }
                    }
                }
            }
        }
    }
}

